PORT=5001
MONGO_URI=mongodb+srv://ADMIN:ADMIN@cluster0.kekjoo8.mongodb.net/
CLOUD_NAME=dqylsazwq
CLOUD_API_KEY=742289927792685
CLOUD_API_SECRET=5r3uf71StA4g5JlzoVzUWtJf8pU

ADMIN_USERNAME=admin
ADMIN_PASSWORD=hZ2k1UJTbOLr
JWT_SECRET=d928b31602b088552173be25635540cae3ce7073ee18c1919fa0f2ed7e2af9fc
CLIENT_URL=http://localhost:5173
